<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- Thymeleaf用のテンプレートであることを宣言 -->
    <head>
        <!--設定-->
        <meta charset="UTF-8">
        <title>タスク管理アプリケーション</title>
        <link th:href="@{/home.css}" rel="stylesheet" />
    </head>

    <body>
        <div class="container"></div>
        <h1>タスク管理アプリケーション</h1>

        <div class ="task_form">
            <!-- タスク登録用のフォーム箱-->
            <h2>タスクの登録</h2>

            <form action="/add">
                <!-- タスク登録の送信先 -->
                <label>タスク</label>
                <input name="task" type="text" />
                <label>期限</label>
                <input name="deadline" type="date" />
                <input type="submit" value="登録" />
<!-- タスクの内容と期限を入力して登録ボタンを押すと、/addにリクエストが送られ、controllerのaddItemメソッドが呼び出される -->
            </form>
        </div>

        <div class ="taskList">
            <!-- タスクリストの箱-->
            <h2>現在のタスク一覧</h2>
            <table border="1" style="border-collapse: collapse;">
            <!-- タスクの内容、期限、状態を表示するテーブルの見た目の制御 -->
                <thead>
                    <tr><th class="hidden">ID</th><th>タスク</th><th>期限</th><th>状態</th></tr>
                </thead>
                <tbody>
                    <tr th:each="task : ${TaskList}">
                    <!--タスクの一覧　
                    処理は、拡張for文のようなもので、TaskListから1つずつタスクを取り出して、taskという変数に入れている
                    -->>
                        <td class ="hidden" th:text="${task.id}"></td>
                        <!-- タスクのIDは表示しないため、hiddenクラスを付与している -->
                        <td th:text="${task.task}"></td>
                        <!-- タスクの内容を表示 -->
                        <td th:text="${task.deadline}"></td>
                        <!-- タスクの期限を表示 -->
                        <td th:text="${task.done} ? '完了' : '未完了'"></td>
                        <!-- タスクの状態を表示。doneがtrueなら「完了」、falseなら「未完了」と表示 -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>